<h5 class="pagebox">Welcome!</h5>
<h5 class="center">Hello there! I'm glad you made it here to my resum&#233; site. Please, feel free to explore!</h5>
<div class="row">
  <div class="col s12 m4 offset-m1">
    <div class="card">
      <div class="card-image">
        <%= image_tag 'gothpinksquare.jpg' %>
        <span class="card-title black-text dark-overlay"><a href="resume">View My Resum&#233;</a></span>
      </div>
      <div class="card-content">
        <p>See what I've accomplished!</p>
      </div>
      <div class="card-action">
        <a href="/resume">Resum&#233;</a>
      </div>
    </div>
  </div>
  <div class="col s12 m3">
    <div class="card">
      <div class="card-image">
        <%= image_tag 'marky.jpg' %>
        <span class="card-title black-text dark-overlay"><a href="about">Learn About Me</a></span>
      </div>
      <div class="card-content">
        <p>Having things in common is important!</p>
      </div>
      <div class="card-action">
        <a href="/about">About Me</a>
      </div>
    </div>
  </div>
  <div class="col s12 m3">
    <div class="card">
      <div class="card-image">
        <%= image_tag 'dino.jpg' %>
        <span class="card-title black-text dark-overlay"><a href="/contact">Give Me A Shout</a></span>
      </div>
      <div class="card-content">
        <p>Or, you can skip ahead to sending me animal gifs!</p>
      </div>
      <div class="card-action">
        <a href="/contact">Contact Me</a>
      </div>
    </div>
  </div>
</div>      






