<h5 class="pagebox">Resum&#233;</h5>
<div class="row">
	<div class="container">
		<div class="col s12 m6 l6">
			<h4 class="descript center">Work Related Experience</h4>
			<ul class="collapsible" data-collapsible="expandable">
				<li>
		      <div class="collapsible-header">Junior Software Engineer</div>
		      <div class="collapsible-body">
		      	<ul class="lg-list">
		      		<li>Protoyper!</li>
		      		<li>Designer!</li>
		      		<li>Debugger!</li>
		      		<li>Support!</li>
		      		<li>PI Advisor!</li>
		      	</ul>
		      	<br />
		      	<div class="center">This is a project currently in progress.</div>
		      	<hr />
		      	<div><a href="https://towsmith.herokuapp.com/">Medical Records Assessment</a><br />January 2016 - Present</div>
		      </div>
		    </li>
				<li>
		      <div class="collapsible-header">Software Engineer</div>
		      <div class="collapsible-body">
		      	<h6>Team Member</h6>
		      	<ul class="lg-list">
		      		<li>Designer!</li>
		      		<li>Debugger!</li>
		      		<li>Support!</li>
		      	</ul>
		      	<br />
		      	<div class="center">We are currently working to put this into an app.</div>
		      	<hr />
		      	<div><a href="https://towsmith.herokuapp.com/">TowSmith</a><br />December 2015 - February 2016</div>
		      </div>
		    </li>
		    <li>
		      <div class="collapsible-header">IT Support / Executive Admin Assistant</div>
		      <div class="collapsible-body">
		      	<ul class="lg-list">
		      		<li>Strong IT support reputation</li>
		      		<li>Preferred Web Manager of 3 Wordpress sites</li>
		      			<ol>
		      				<li>- This is includes modifying themes to fit client desires.</li>
		      			</ol>
		      		<li>Go to for Dropbox organization</li>
		      		<li>Assistant in personal injury related research</li>
		      		<li>Trainer of various software, including but not limited to:</li> 
		      			<ol>
		      				<li>- Adobe Products</li>
		      				<li>- Dropbox</li>
		      				<li>- Smartsheet</li>
		      			</ol>
		      		<li>Creator of client data reports, invoices &amp; so much more!</li>
		      	</ul>
		      	<hr />
		      	<div>Praline Corporation<br />December 2011 - Present</div>
		      </div>
		    </li>
		    <li>
		      <div class="collapsible-header">IT Support / Admin Assistant</div>
		      <div class="collapsible-body">
		      	<ul class="lg-list">
		      		<li>Strong IT support reputation</li>
		      		<li>Go to for Document &amp; Dropbox organization</li>
		      		<li>Trainer of various software, including but not limited to:</li> 
		      			<ol>
		      				<li>- Dropbox</li>
		      				<li>- Smartsheet</li>
		      			</ol>
		      	</ul>
		      	<hr />
		      	<div>QALY Medical Services<br />June 2014 – December 2015</div>
		      </div>
		    </li>
		    <li>
		      <div class="collapsible-header">Admin Assistant</div>
		      <div class="collapsible-body">
		      <ul class="lg-list">
	      		<li>Task Peformer of the the marketing variety:</li>
	      			<ol>
	      				<li>- SEO Software</li>
	      				<li>- Social media creation</li>
	      				<li>- Hootsuite</li>
	      			</ol>
	      		<li>Wizard of Wordpress</li>
	      			<ol>
	      				<li>- Creation of client sites</li>
		      				<ol>
			      				<li>> This is includes modifying existing themes</li>
			      			</ol>
	      				<li>- Updating client sites</li>
	      				<li>- API Token implementation</li>
	      			</ol>	
	      		<li>Provider of Customer Service</li>
	      		<li>Cleaner, errand runner, and food grabber extraordinaire!</li>
		      	</ul>
		      	<hr />
		      	<div>QALY Medical Services<br />June 2014 – December 2015</div>
		      </div>
		    </li>
		  </ul>
  		</div> <!-- col s12 m6 l6 -->
  		<div class="col s12 m6 l6">
				<h4 class="descript center">Work Related Skills</h4>
  			<div class="card">
  				<div class="card-content lg-list">
						<ul>
							<li>Ruby On Rails</li>
							<li>HMTL</li>
							<li>CSS</li>
							<li>Javascript</li>
							<li>Jquery</li>
							<li>Reactjs</li>
							<li>Database Structure</li>
							<li>Wordpress</li>
					  </ul>
					</div>
				</div>
			</div><!-- col s12 m6 l6 -->
		<div class="col s12 m6 l6 offset-m3 offset-l3">
			<h3 class="center">If you're looking for a pdf version of my resum&#233;, please <a href="/contact">let me know</a>!</h3>
		</div>
		<div class="center">
			<%= image_tag 'lookatthis.jpg', class: 'pad-top' %>
		</div>
  		<div class="col s12 m10 l10 offset-m1 offset-l1">
	      <div class="center-align dark-overlay black-text">
	      	<h3>So, why hire this funky-haired girl?</h3>
	      	<h4>I am hardworking &amp; self-motivated.</h4>
	        <h5>I love being a part of a great company.</h5>
					<h5>I make excellent coffee.</h5>
					<h5>I am a quick study &amp; eager to learn!</h5>
					<h5>I am easy to get along with - which is important in every workplace.</h5>
	      </div>
		  </div>
	</div> <!-- container -->
</div> <!-- row -->
