<h5 class="pagebox">About Me</h5>
<div class="row">
	<div class="col s12 m10 l10 offset-m1 offset-l1">	
	<h5 class="descript">Hobbies/Interests</h5>
		<div class="slider">
		  <ul class="slides">
		    <li>
		      <%= image_tag "antelopeisland2015.jpg" %>
		      <div class="caption left-align overlay black-text">
		        <h3>Outdoors</h3>
		        <h5>Dog Walks</h5>
		        <h5>Hiking</h5>
		        <h5>Camping</h5>
		        <h5>Fishing</h5>
		        <br />
		       	<p class="black-text">Antelope Island, 2015</p>
		      </div>
		    </li>
		    <li>
		     <%= image_tag "darth.jpg" %>
		      <div class="caption center-align overlay black-text">
		        <h3>Art</h3>
		        <h5>Fashion Design</h5>
		        <h5>Coloring</h5>
		        <h5>Painting</h5>
		        <h5>Modeling</h5>
		        <br/>
		        <p class="black-text">Darth Vader - I made this.</p>
		      </div>
		    </li>
		    <li>
		      <%= image_tag "coke.jpg" %>
		      <div class="caption right-align overlay black-text">
		        <h3>Culture</h3>
		        <h5>Languages</h5>
		        <h5>Museums</h5>
		        <h5>Exhibits</h5>
		        <h5>Travel</h5><br />
		        <p class="black-text">Coca-Cola World, Atlanta, Ga</p>
		      </div>
		    </li>
		    <li>
		      <%= image_tag "jaba.jpg" %>
		      <div class="caption center-align overlay black-text">
		        <h3>Nerd Things</h3>
		        <h5>Star Wars</h5>
		        <h5>Star Trek</h5>
		        <h5>Cosplay</h5>
		        <h5>And so much more!</h5><br />
		        <p class="black-text">Jaba the Hut with Fantasy Con dragons. Yes, that happened.</p>
		      </div>
		    </li>
		  </ul> <!-- Slides -->
		</div> <!-- Slider -->
	</div> <!-- col s12 m10 l10 offset-m1 offset-l1 -->
	<br />
	<div class="row">
    <div class="col s12 m5 offset-m1">
      <div class="card teal-card">
        <div class="card-action center white-text lg-list">
          <h5>Where are you located?</h5>
          <div class="lg-list">Salt Lake City, Utah</div>
          <h5>Would you consider relocating?</h5>
          <div class="lg-list">Yes! If you're an excellent company (&amp; you are!), I would consider it.</div>
        </div>
      </div> 
    </div>
    <div class="col s12 m5">
      <div class="card teal-card">
        <div class="card-action center white-text lg-list">
          <h5>How do I say your name?</h5>
          <div class="lg-list">It's pronounced AIR-yull - like the Little Mermaid!
          	<a href="http://www.pronouncenames.com/pronounce/ariel" target="_blank">[hear it here!]</a>
          </div>
          <h5>Are you from Under The Sea?</h5>
          <div class="lg-list">Nope! But I sure do love it there - I'm actually from Georgia.</div>
        </div>
      </div> 
    </div>
	</div>	
</div> <!-- row -->
