<h5 class="pagebox">Contact Me</h5>
<div class="row">
	<div class="col s12 m10 offset-m1">
		<h6 class="center">Hey there! Here is my contact info:</h6>
    <div class="card dark-card">
      <div class="card-action center white-text lg-list">
      	<a href="MAILTO:arialledye@gmail.com?Subject=Hello, World!">arialledye@gmail.com</a>
        801-376-9885
        <hr />
      	<a href="https://www.linkedin.com/in/arialle-dye-1b362a86" class="btn-primary linkedin btn" target="_blank">LinkedIn</a>
        <a href="https://github.com/ariallenichole" class="btn-primary github btn" target="_blank">GitHub</a>
        <a href="https://twitter.com/goforarialle" class="btn-primary twitter btn" target="_blank">Twitter</a>
        </div>
      </div>
    <div class="center">P.S. The sending of cute animal gifs is highly encouraged...</div>      
    </div>
	</div> <!-- col s12 m10 l10  -->
</div> <!-- row -->
