/*CSS - Being Called by Application.CSS*/


body {
	font: 300 16px/22px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 50px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.1;
}

h6 {
  font-size: 20px;
}

p {
  padding: 0;
}

a {
  color: inherit;
}


nav {
  background-color: #2b2b2b;
}


/*Nav Bar*/

nav ul a {
  transition: background-color .3s;
  font-size: 1rem;
  color: #fff;
  display: block;
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
  margin-right: 25px;
  cursor: pointer;
}


/*Padding*/

.pad-top {
  padding-top: 25px;
}

/*Slides*/

.slider .indicators .indicator-item.active {
  background-color: rgba(47, 162, 160, 0.55);
}
.slider .indicators .indicator-item {
  display: inline-block;
  position: relative;
  cursor: pointer;
  height: 16px;
  width: 16px;
  margin: 0 12px;
  background-color: #e0e0e0;
  transition: background-color .3s;
  border-radius: 50%;
}

.slider .slides li .caption {
  color: #fff;
  position: absolute;
  top: 15%;
  left: 15%;
  width: 70%;
}

/*Overlays*/

.overlay {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 25px;
}

.dark-overlay {
  background-color: rgba(255, 255, 255, 0.75);
  padding: 25px;
}

.teal-overlay {
  background: rgb(47, 162, 160);
}

/*Collapsible Accordian*/
.descript {
  color: #2b2b2b;
}
.collapsible-header {
  display: block;
  cursor: pointer;
  min-height: 3rem;
  line-height: 3rem;
  padding: 15px;
  background-color: rgba(47, 162, 160, 0.55);
  border-bottom: 1px solid #ddd;
  font-size: 25px;
}

.collapsible-body {
  display: none;  
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
  padding: 15px ;
}

.lg-list {
  font-size: 20px;
}

/*Cards*/
.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
    color: white;
    margin-right: 20px;
    transition: color .3s ease;
    text-transform: none;
  }
.card {
  background-color: rgba(47, 162, 160, 0.55);
}

.card-title {
    text-align: center;
  }

.card .card-content {
  padding-top: 5px;
  padding-right: 20px;
  padding-bottom: 5px;
  padding-left: 20px;
  border-radius: 0 0 2px 2px;
}

.tidbits {
  text-align: right;
}

.dark-card {
  background-color: #2b2b2b;
}

.teal-card {
  background-color: rgba(47, 162, 160, 0.55);
}
/*Forms*/
.input-field label {
  top: 0rem;
  left: 0.8rem;
}

.input-field input[type=text]:focus {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }

input:not([type]).valid, input:not([type]):focus.valid, input[type=text].valid, input[type=text]:focus.valid, input[type=password].valid, input[type=password]:focus.valid, input[type=email].valid, input[type=email]:focus.valid, input[type=url].valid, input[type=url]:focus.valid, input[type=time].valid, input[type=time]:focus.valid, input[type=date].valid, input[type=date]:focus.valid, input[type=datetime-local].valid, input[type=datetime-local]:focus.valid, input[type=tel].valid, input[type=tel]:focus.valid, input[type=number].valid, input[type=number]:focus.valid, input[type=search].valid, input[type=search]:focus.valid, textarea.materialize-textarea.valid, textarea.materialize-textarea:focus.valid {
    border-bottom: 1px solid #4CAF50;
    box-shadow: 0 1px 0 0 #4CAF50;
}


/* Buttons */
.btn-floating.btn-large {
  width: 150px;
  background-color: rgba(106, 162, 47, 0.85);
}

.btn, .btn-large {
  border-radius: 20px;
  text-decoration: none;
  color: #fff;
  background-color: rgba(106, 162, 47, 0.85);
  width: 150px;
  text-align: center;
}

.btn:hover, .btn-large:hover {
  background-color: rgba(47, 162, 160, 1);
}

.btnsml {
  font-size: 15px;
}

.sendbtn {
  border-radius: 20px;
  text-decoration: none;
  color: #fff;
  background-color: rgba(106, 162, 47, 0.55);
  width: 150px;
  text-align: center;
}
.sendhover {
  background-color: rgba(47, 162, 160, 0.55);
}

.btn, .btn-large, .btn-flat {
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    outline: 0;
    padding: 0 2rem;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
}

.btn-primary:hover {
  background-color: rgba(47, 162, 160, 0.55);
}

.linkedin {
  background-color: #0277b5;
  text-transform: none;
}

.linkedin:hover {
  background-color: rgba(2, 119, 181, 0.55);
}
.github {
  background-color: #592b78;
  text-transform: none;
}
.github:hover {
  background-color: rgba(89, 43, 120, 0.55);
}

.twitter {
  background-color: #1da1f2;
  text-transform: none;
}

.twitter:hover {
  background-color: rgba(29, 161, 242, 0.55);
}
/*Site Heading Things*/
.headingimg{
  height: 200px;
  margin-bottom: 25px;
  padding-top: 25px;
}

.headingbox {
  background: rgba(47, 162, 160, 0.55);
  margin-bottom: 25px;
  padding-bottom: 25px;
  text-align: center;
}

.headingtext {
	color: white;
}


/*Page Heading Things*/
.page {
	text-align: center;
}
.pagebox{
	color: rgba(47, 162, 160, 0.55);
  margin-top: 25px;
  margin-bottom: 25px;
  padding:  5px 0 25px 0;
  text-align: center;
  text-decoration: underline;
  }
.pagesub {
	font-weight: 400;
}
.pageborder {
	padding: 5px;
	border-bottom: 1px solid #dfe2e5;
}


/* Footer Things*/
footer.page-footer {
    margin-top: 20px;
    padding: 20px;
    background-color: #2b2b2b;
    color: white;
}

.footer_head {
  text-align: center;
  border-radius: 15px;
  margin-bottom: 25px;
  color: white;
}
.footer_content {
  color: white;
  text-align: center;
}
.footer_p {
  font-size: 20px;
}



/*Medias*/
@media only screen and (min-width: 993px)
{.container {
    width: 90%;
}}
